@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Jura:wght@300&display=swap');


*{
    margin: 0 auto;
    padding: 0;
}

.visual{
    height: 300px;
    width: 400px;
}

.tudo{
    width: 1290px;
    text-emphasis: center;
}

.container{
    margin-left: 330px;
}

a{
    color: #13165C;
    font-weight: bold;
}

.btn{
    width: 120px;
    height: 35px;
    background-color: #13165C;
    color: #E7F5FF;
    font-family: Jura;
    border: none;
}

.btn:hover{
    background-color: #353888;
}

.card{
	width: 28%;
	display: inline-block;
	padding: 0px 15px;
    border-left: 15px solid #13165C;
    font-family: Jura;
	font-size: 20px;
}

.card:hover{
	transform: scale(1.02);
    transition: all 0.5s;
}

/* HEAD */

html{
    height: 1080px;
    width: 100%;
    background-image: url(Fundo.png);
    border: 20px;
}

/*animações*/
  
#hh{
    animation-duration: 3s;
    animation-name: slidein;
    margin-left: 20%;
    margin-top: 40px;
}
  
@keyframes slidein {
    from {
      margin-left: 100%;
      
      margin-top: 40px;
    }
  
    to {
      margin-left: 20%;
     
      margin-top: 40px;
    }
}


.logo{
    margin-left: 1585px;
    margin-top: 200px;
    width: 300px;
}

  


