*{
    margin: 0 auto;
    padding: 0;
}
.visual{
    height: 300px;
    width: 400px;
}

.visual:hover {
    background-color: #9EBCDE;
    box-shadow: 5px 2px #9EBCDE;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .git:hover {
    background-color: #9EBCDE;
    box-shadow: 5px 2px #9EBCDE;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .google:hover {
    background-color: #9EBCDE;
    box-shadow: 5px 2px #9EBCDE;
    transform: scale(1.1);
    transition: all 0.5s;
  }

/* HEAD */

html{
  height: 1080px;
  width: 100%;
  background-image: url(Fundo.png);
}

/*animações*/
  
  p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  .quadrado {
    background: #9EBCDE;
    width: 50px;
    height: 50px;
    animation: go-back 1s infinite alternate;
  }
  
  @keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }



