@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    margin: 0 auto;
    padding: 0;
}
.visual{
    height: 300px;
    width: 400px;
}

.tudo{
    width: 1290px;
    text-emphasis: center;
}

.container{
	height: 1000px;
	width: 1000px;
	min-height: 75vh;
	padding: 10px;
	margin-left: 485px;
}


.card{
	width: 29%;
	display: inline-block;
	padding: 10px;
    border-left: 15px solid #13165C;
	border-radius: 15px;
	box-shadow: #8fffde;
	font-size: 20px;
}

.visual:hover {
    display: block;
    width: 440px;
    background-color: #9EBCDE;
    box-shadow: 5px 2px #9EBCDE;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .git:hover {
    display: block;
    float: right;
    width: 440px;
    background-color: #9EBCDE;
    box-shadow: 5px 2px #9EBCDE;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .google:hover {
    display: block;
    float: right;
    width: 440px;
    background-color: #9EBCDE;
    box-shadow: 5px 2px #9EBCDE;
    transform: scale(1.1);
    transition: all 0.5s;
  }

/* HEAD */

html{
  height: 1080px;
  width: 100%;
  background-image: url(Fundo.png);
  border: 20px;
}


/*animações*/
  
  #hh {
    animation-duration: 3s;
    animation-name: slidein;
    margin-left: 20%;
    margin-top: 40px;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      
      margin-top: 40px;
    }
  
    to {
      margin-left: 20%;
     
      margin-top: 40px;
    }
  }


  #logo{
    margin-left: 40%;
  }

  


